<p>ngcontainer works!</p>
<ul>
  <ng-container *ngFor="let item of list; last as isLast">
    <li [style]="{color: item.color}">名称: {{item.name}}</li>
    <li [style]="{color: item.color}">颜色: {{item.color}}</li>
    <li [style]="{color: item.color}">价格: {{item.price}}</li>
    <li [style]="{color: item.color}" *ngIf="!isLast">--</li>
    <li [style]="{color: item.color}" *ngIf="!isLast">--</li>
    <li [style]="{color: item.color}" *ngIf="!isLast">--</li>
    <li [style]="{color: item.color}" *ngIf="!isLast">--</li>
  </ng-container>
</ul>